@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(15, 23, 42);
}

::-webkit-scrollbar-thumb {
  background: rgb(34, 211, 238);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(59, 130, 246);
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}
